{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<!-- Main container to center the content -->
<div class="min-h-[calc(100vh-4rem)] flex flex-col items-center justify-center text-center p-4">
    <main>
        <!-- Main Title -->
        <h1 class="text-6xl md:text-8xl font-bold text-teal-600 tracking-wider">
            VERAMED
        </h1>
        <!-- Subheading -->
        <p class="mt-4 text-xl md:text-2xl text-gray-500 font-semibold">
            Trust the Medicine
        </p>
    </main>
</div>
{% endblock %}

